@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<string>

<h2>Update @string.Format("{0} {1} record",Model[1], Model[2])</h2>

<table class="table table-bordered table-responsive table-hover">
    <tr></tr>
    @foreach (var list in Model)
    {
        <tr>
            <td> <input type="text" value="@list.ToString()" />
        </tr>
    }

</table>

<input type="submit"/>
