@model IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-action="Index" asp-controller="">
        <h3>Student Information</h3>
        First name:
        <input asp-for="Student.FirstName" placeholder="First name here" /><br />
        Last name:
        <input asp-for="Student.LastName" placeholder="Last name here" /><br />
        Address:
        <input asp-for="Student.Address" placeholder="Address here" /><br />
        Major:
        <input asp-for="Student.Major" placeholder="Major here" /><br />
        Expected Graduation:
<<<<<<< HEAD
        <input asp-for="Student.GradDate" type="date" /><br /><br />

        <select asp-for="Contact.Type" asp-items="Html.GetEnumSelectList<IndexPageModel.ContactType>()" name="ContactType"></select>
        <input asp-for="Contact.ContactInfo" type="text" /><br /><br />

=======
        <input asp-for="Student.GradDate" type="date" /><br />
>>>>>>> origin/master
        <input type="submit" />
    </form>

        &nbsp;

    <h3>@ViewData["Message"]</h3>
    
</div>
