@model IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-action="Index" asp-controller="">
        <h3>Student Information</h3>
        First name:
        <input asp-for="Student.FirstName" placeholder="First name here" /><br />
        Last name:
        <input asp-for="Student.LastName" placeholder="Last name here" /><br />
        Address:
        <input asp-for="Student.Address" placeholder="Address here" /><br />
        Expected Graduation:
        <input asp-for="Student.GradDate" type="date" /><br />

        <input type="submit" />
    </form>

    <h3>@ViewData["Message"]</h3>

    &nbsp;

    <select name="contact" asp-for="Contacts"></select>
</div>
