@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<string>>

<h1>Current Enrolled Students</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Adress</th>
        <th>Major</th>
        <th>Email</th>
        <th></th>
    </tr>
    @foreach (var list in Model)
    {
        <tr>
            @foreach (var item in list)
            {
                <td>@item.ToString()</td>
            }
            <td> <input type="button" value="Edit"/> </td>
        </tr>
    }
    
</table>