@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<string>>

<h1>Current Enrolled Students</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Adress</th>
        <th>Major</th>
        <th>Phone</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var list in Model)
    {
    <tr>
        @foreach (var item in list)
        {
            <td>@item.ToString()</td>
        }

        @using (Html.BeginForm("EditStudent", "Home"))
        {
            <input type="hidden" name="studentId" value="@list[0]" >
            <td> <input type="submit" value="Edit" /> </td>
        }

        @using (Html.BeginForm("EditStudent", "Home", new { studentData = list }))
        {
            <td> <input type="submit" value="Delete" /> </td>
        }
    </tr>
    }
    
</table>