@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<string>>

<h1>Mass send Email</h1>

<textarea style="width: inherit; height: 60px" rows="5" id="emailMessage" type="text" value="please enter email going out to students."></textarea>
<input type="submit" />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Email</th>

    </tr>
    @foreach (var list in Model)
    {
        <tr>
            @foreach (var item in list)
            {
                <td>@item.ToString()</td>
            }
        </tr>
    }
</table>