@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<string>>

<h1>Current Enrolled Students</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>StudentID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Major</th>
    </tr>
    @foreach (var list in Model)
    {
        <tr>
            @foreach (var item in list)
            {
                <td>@item.ToString()</td>
            }
        </tr>
    }
</table>