@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<string>>

<h1>Current Enrolled Students</h1>

<text>Hello world</text>
<input class="form-control" id="emailMessage" type="text" value="" />
<input class="form-control" id="emailMessage" type="text" value="please enter email going out to students."/>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Email</th>

    </tr>
    @foreach (var list in Model)
    {
        <tr>
            @foreach (var item in list)
            {
                <td>@item.ToString()</td>
            }
        </tr>
    }
</table>