@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<StudentPageModel>

<h1>Current Enrolled Students</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Major</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentInfo.Item1.FirstName</td>
            <td>@student.StudentInfo.Item1.LastName</td>
            <td>@student.StudentInfo.Item2.ContactInfo</td>
            <td>@student.StudentInfo.Item1.Major</td>
        </tr>
    }
</table>