@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Student>

<h1>Student</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>first</th>
        <th>last</th>
        <th>phone</th>
        <th>major</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Phone</td>
            <td>@student.Major</td>
        </tr>
    }
</table>