@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<List<string>>

<h1>Send Email to all listed</h1>

<text>Message :</text>
<textarea style="width: inherit; height: 60px" rows="5" id="emailMessage" type="text"></textarea>
<input type="submit" onclick="return confirm('Are you sure you want to send to all current students?')" />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Email listing</th>

    </tr>
    @foreach (var list in Model)
    {
        <tr>
            @foreach (var item in list)
            {
                <td>@item.ToString()</td>
            }
        </tr>
    }
</table>
